# Ignore config files
*.ini
*.bat
token.txt

# Ignore personal tests
*test.py

# Ignore working copies
Production/
TEMPLATE/files/chatlogs/*.txt
TEMPLATE/files/errorlog/*.txt
TEMPLATE/files/raffle/*.txt

# Ignore python project files
/.idea
/*/__pycache__/
